* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainbar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.navbar {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  height: 64px;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  background-color: whitesmoke;
}

.herosection {
  height: 100vh;
  background-color: bisque;
  background-image: url(img/oceans.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  text-align: center;
  background-attachment: fixed;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.shapely {
  font-size: x-large;
  color: gray;
}

.text {
  font-size: 60px;
  color: white;
  font-weight: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
.paragraph {
  color: white;
  font-size: medium;
  margin-top: 40px;
  margin-bottom: 17px;
  text-transform: capitalize;
}
.button1 {
  width: 300px;
  height: 70px;
  color: white;
  background-color: rgba(42, 20, 163, 0.795);
  border-style: solid;
  border-radius: 2px;
  border-color: transparent;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.button2 {
  width: 300px;
  height: 70px;
  color: white;
  background-color: transparent;
  border-style: solid;
  border-radius: 2px;
  border-color: white;
  border-width: 1px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.parentbutton {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  text-align: center;
}
.button1:hover {
  width: 300px;
  height: 70px;
  color: white;
  background-color: rgba(72, 37, 168, 0.795);
  border-style: solid;
  border-radius: 2px;
  border-color: transparent;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.button2:hover {
  width: 300px;
  height: 70px;
  color: black;
  background-color: rgba(247, 241, 241, 0.938);
  border-style: solid;
  border-radius: 2px;
  border-color: white;
  border-width: 1px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
@media (max-width: 768px) {
  .parentbutton {
    flex-wrap: wrap;
  }
}
.section2 {
  height: 50vh;
  margin-top: 50px;
}
.secondphase {
  display: flex;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.laptop {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.laptopdiv {
  width: 50%;
}
.writeup {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: 200;
}
.lorem {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
  color: rgb(148, 144, 144);
}
.button3 {
  width: 300px;
  height: 50px;
  color: white;
  background-color: rgba(42, 20, 163, 0.795);
  border-style: solid;
  border-radius: 2px;
  border-color: transparent;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.button3:hover {
  width: 300px;
  height: 50px;
  color: white;
  background-color: rgba(99, 20, 163, 0.795);
  border-style: solid;
  border-radius: 2px;
  border-color: transparent;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.portfoliomaindiv {
  height: 70vh;
  margin-top: 50px;
  background-color: whitesmoke;
}

#portfolio {
  background: whitesmoke;
}
.waves {
  height: 70vh;
  background-image: url(./img/waves.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-content: center;
}
.innerwave {
  color: white;
  text-align: center;
  align-content: center;
  align-items: center;
}
.parallax {
  font-size: 70px;
  margin-bottom: 30px;
  font-family: sans-serif;
  text-transform: capitalize;
  font-weight: 20;
}
.button {
  width: 300px;
  height: 70px;
  color: white;
  background-color: rgba(42, 20, 163, 0.795);
  border-style: solid;
  border-radius: 2px;
  border-color: transparent;
  text-align: center;
  align-items: center;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  align-content: center;
}
.note {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.limitless {
  height: 50vh;
  background-color: whitesmoke;
  align-content: center;
  text-align: center;
}
.limitlesstext p {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.limit {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.grass {
  height: 70vh;
  background-image: url(./img/grass.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.project {
  height: 20vh;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.project h3 {
  font-size: 39px;
  font-weight: 4px;
  text-align: center;
  text-transform: capitalize;
  padding-top: 30px;
}
.project p {
  text-align: center;
  text-transform: capitalize;
  padding-top: 20px;
}
/* .imageparent{
    display: flex;
    flex-wrap: wrap;
}
.imageparent div img{
   height: 100%;
   width: 100%;
   object-fit: cover;
} */
.imageparent div {
  width: calc(100% / 4);
}
.imageparent div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imageparent div {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  /* opacity: 1; */
}

.imageparent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-gap: 10px; */
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  height: auto;
  background-color: black;
}

@media (max-width: 768px) {
  .imageparent {
    grid-template-columns: repeat(1, 1fr);
  }
}
.p15 {
  color: white;
  background-color: aqua;
  opacity: 0;
}
.imageparent div:hover .p15 {
  background-color: transparent;
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  text-align: center;
  align-content: center;
  font-size: xx-large;
}
.customerdiv {
  height: 70vh;
  background-image: url(./img/nature.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-content: center;
  text-align: center;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
.customertext {
  font-size: 50px;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 40px;
}
.sentence {
  font-family: sans-serif;
  text-transform: capitalize;
  text-align: center;
}

.boy {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.boydiv {
  box-sizing: border-box;
  width: 10%;
  height: 10%;

  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}
.mainclient {
  height: 50vh;
  text-align: center;
  background-color: white;
  text-transform: capitalize;
}
.client {
  color: black;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: xx-large;
}
.partners {
  display: flex;
  justify-content: center;
  gap: 150px;
}
.partners div img {
  width: 100%;
  height: 100%;
}
.partners div {
  width: 100%;
  height: 100%;
}
.question {
  height: 30vh;
  background-color: whitesmoke;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.awesome {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
footer{
  align-content: center;
 
}
.footer {
  height: 20vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  gap: 700px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
   .icons i{
    margin-left: 10px;
   }

@media (max-width: 834px) {
  .partners {
    gap: 30px;
  }
  .partners div img {
    width: 100%;
  }
  .imageparent {
    grid-template-columns: repeat(1, 1fr);
  }
  .question {
    flex-wrap: wrap;
    height: auto;
  }
  .searchicon{
    display: none;
  }
  .awesome {
    margin-bottom: 30px;
  }
  .section2 {
    height: auto;
    flex-wrap: wrap;
  }
  .secondphase {
    gap: 8px;
    flex-wrap: wrap;
  }
  .laptopdiv {
    width: 100%;
  }
  .writeup {
    width: 100%;
  }
  .lorem {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .imageparent {
    grid-template-columns: repeat(1, 1fr);
  }
  .imageparent {
    grid-template-columns: repeat(1, 1fr);
  }
  .question {
    flex-wrap: wrap;
  }
  .awesome {
    margin-bottom: 30px;
  }
  #portfolio {
    height: auto;
  }
  .waves {
    height: 80vh;


  }
  .menu {
    display: none;
  }
 .project{
    height: auto;
 }
 .footer{
  flex-wrap: wrap;
  gap: 20px;
 }
}
